* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

body {
  font-family: Lato, Roboto, sans-serif;
  background: #F9F9FB;
}

.clearfix::after {
  content: '';
  display: table;
  width: 100%;
  height: 0;
  opacity: 0;
  clear: both;
}

.container {
  max-width: 1450px;
  height: 100%;
  padding: 0 30px;
  margin: 0 auto;
}

/*

  Accent: #01a9fc
  Second Accent Gradient:
    #39FA90 @ 0%
    #19D191 @ 100%

*/
