.sort-panel {
  display: flex;
  align-items: center;
  padding: 20px 0;
  position: relative;
}

.sort-panel__accent-button {
  margin-right: 20px;
}

.sort-panel__search-input {
  position: absolute;
  left: 330px;
}

.sort-panel__select-sort {
  margin-left: auto;
}
