.app-header {
  height: 80px;
  background: #fff;
  position: relative;
}

.app-header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.app-header__logo {
  display: flex;
  align-items: center;
  width: 180px;
  height: 33px;
  margin-right: auto;
  margin-left: 19px;
}

.app-header__logo img:first-child {
  margin-right: 13px;
  padding-bottom: 4px;
}

.app-header__top-nav {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.app-header__profile {
  margin-right: 19px;
}
