* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

body {
  font-family: Lato, Roboto, sans-serif;
  background: #F9F9FB;
}

.container {
  height: 100%;
  padding: 0 35px;
  margin: 0 auto;
}

/*

  Accent: #01A9FC
  Second Accent Gradient:
    #39FA90 @ 0%
    #19D191 @ 100%

*/
